/* cyrillic-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTk3iazbXWjgevT5.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTA3iazbXWjgevT5.woff) format('woff');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTs3iazbXWjgevT5.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTo3iazbXWjgevT5.woff) format('woff');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3iazbXWjgeg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v22/NGSpv5_NC0k9P_v6ZUCbLRAHxK1E1yysd0mg7UiCXB5WkK8.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v22/NGSpv5_NC0k9P_v6ZUCbLRAHxK1E1yysdUmg7UiCXB5W.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.bar {
  background-color: #802c9c;
  overflow: hidden;
}

.bar .contactbutton {
  background-color: #802c9c;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  margin: 4px 0px 4px 4px;
  padding: 10px 8px;
  text-align: center;
  text-decoration: none;
  z-index: 900;
}

.bar .contactbutton:hover {
  background-color: #844897;
  color: white
}

.blackboardlog {
  background-color: black;
  border: solid;
  color: white;
  display: inline-block;
  font-family: monospace;
  height: 70vh;
  left: 10%;
  overflow-y: auto;
  position: absolute;
  width: 80vw;
}

.crop {
  height: 60px;
  overflow: hidden;
  width: 60px;
}

.crop img {
  height: 100px;
margin: -20px 0 0 -20px;
  width: 100px;
}

.currentrunfield {
  margin-bottom: 8px;
}

.currentruntext {
  font-family: "Heebo", sans-serif;
}

.currentrunlabeltext {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

#cy {
  border-style: solid;
  display: inline-block;
  height: 80%;
  left: 10%;
  position: absolute;
  width: 80%;
  z-index: 999;
}

.logo {
margin-top: 5px;
height: 60px;
width: 60px;
overflow: hidden;
}

.simplemindtext {
  font-family: "Nunito", sans-serif;
  font-size: xx-large;
  font-weight: 400;
  margin: 5px 0 0 2px;
  text-align: center;
}

.tooltip_button {
  background-color: #802c9c;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  margin-inline: 4px;
  padding: 10px 6px;
  text-align: center;
  text-decoration: none;
  z-index: 500;
}

.tooltip_button:hover {
  background-color: #844897;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  margin-inline: 4px;
  padding: 10px 6px;
  text-align: center;
  text-decoration: none;
  z-index: 500;
}