<!DOCTYPE html>

<html>

<head>
    <title>SimpleMind</title>

    <link rel="icon" href="https://gitlab.com/hoffman-lab/core/-/raw/main/docs/icons/sm_logo_163.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap">

    <meta charset="utf-8" name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <style>
        /* Styling information and classes */

        .bar {
            background-color: #802c9c;
            overflow: hidden;
        }

        .bar .contactbutton {
            background-color: #802c9c;
            border: none;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-family: 'Heebo', sans-serif;
            font-size: 16px;
            margin: 4px 0px 4px 4px;
            padding: 10px 8px;
            text-align: center;
            text-decoration: none;
            z-index: 900;
        }

        .bar .contactbutton:hover {
            background-color: #844897;
            color: white
        }

        .blackboardlog {
            background-color: black;
            border: solid;
            color: white;
            display: inline-block;
            font-family: monospace;
            height: 70vh;
            left: 10%;
            overflow-y: auto;
            position: absolute;
            width: 80vw;
        }

        .crop {
            height: 60px;
            overflow: hidden;
            width: 60px;
        }

        .crop img {
            height: 100px;
            margin: -20px 0 0 -20px;
            width: 100px;
        }

        .currentrunfield {
            margin-bottom: 8px;
        }

        .currentruntext {
            font-family: "Heebo", sans-serif;
        }

        .currentrunlabeltext {
            font-family: "Heebo", sans-serif;
            font-weight: bold;
        }

        #cy {
            border-style: solid;
            display: inline-block;
            height: 80%;
            left: 10%;
            position: absolute;
            width: 80%;
            z-index: 999;
        }

        .simplemindtext {
            font-family: "Nunito", sans-serif;
            font-size: xx-large;
            font-weight: 400;
            margin: 5px 0 0 2px;
            text-align: center;
        }

        .tooltip_button {
            background-color: #802c9c;
            border: none;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-family: 'Heebo', sans-serif;
            font-size: 14px;
            margin-inline: 4px;
            padding: 10px 6px;
            text-align: center;
            text-decoration: none;
            z-index: 500;
        }

        .tooltip_button:hover {
            background-color: #844897;
            border: none;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-family: 'Heebo', sans-serif;
            font-size: 14px;
            margin-inline: 4px;
            padding: 10px 6px;
            text-align: center;
            text-decoration: none;
            z-index: 500;
        }
    </style>

    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://unpkg.com/webcola/WebCola/cola.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cytoscape.org/cytoscape.js-cola/cytoscape-cola.js"></script>
    <script src="https://cytoscape.org/cytoscape.js-popper/cytoscape-popper.js"></script>
    <script>
        // Handle the interactive knowledge graph (see body)
        var graph = JSON.parse("{{.graph}}");
        var specs = JSON.parse("{{.specs}}");
        var agent_activities = Object.create(null);

        window.addEventListener('DOMContentLoaded', function () {

            var cy = cytoscape({
                container: document.getElementById('cy'),

                autounselectify: true,
                boxSelectionEnabled: false,

                style: [{
                    selector: 'node',
                    style: {
                        'background-color': '#dfceff',
                        'text-valign': 'center',
                        'label': 'data(id)',
                        'color': '#5926b7',
                        'text-outline-color': '#5926b7',
                        'text-outline-width': '0.05px',
                        'font-size': '11px',
                        "overlay-padding": "6px",
                        'width': '100'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'target-arrow-shape': 'triangle',
                        'line-color': '#6f44bd',
                        'target-arrow-color': '#6f44bd',
                        'curve-style': 'bezier'
                    }
                }
                ],

            });

            // Add the agents to the nodes of graph with appropriate edges
            for (let agent in graph) {
                cy.add({ group: 'nodes', data: { id: agent } });
                agent_activities[agent] = false;
            }

            for (let agent in graph) {
                for (let dependency of graph[agent]) {
                    cy.add({ data: { id: `${dependency} » ${agent}`, source: dependency, target: agent } });
                }
            }

            // Trigger the animation of the layout
            var layout = cy.elements().layout({
                name: 'breadthfirst',
                animate: true,
                padding: 5,
                animationEasing: 'ease-in-out',
            });
            layout.run();

            // ResetNodeEdgeColors resets nodes and edges to an unselected color
            var ResetNodeEdgeColors = function () {
                cy.nodes().forEach(function (node) {
                    node.style({ 'background-color': '#dfceff', 'color': '#5926b7' });
                });
                cy.edges().forEach(function (edge) {
                    edge.style({ 'line-color': '#6f44bd', 'target-arrow-color': '#6f44bd' });
                });
            };

            // Add a force-directed layout button
            document.getElementById("forcebutton").addEventListener("click", function () {
                ResetNodeEdgeColors();

                var layout = cy.layout({
                    name: 'cola',
                    ungrabifyWhileSimulating: true,
                    maxSimulationTime: 7000,
                    flow: { axis: 'y', minSeparation: 40 },
                    padding: 5,
                    nodeSpacing: 20,
                });
                layout.run();
            });

            // Add a reset breadth-first search layout button
            document.getElementById("bfsbutton").addEventListener("click", function () {
                ResetNodeEdgeColors();

                var layout = cy.layout({
                    name: 'breadthfirst',
                    animate: true,
                    padding: 5,
                    animationEasing: 'ease-in-out',
                });
                layout.run();
            });

            // MakeTippy creates a tooltip popup for the target element with input text
            var MakeTippy = function (ele, text) {
                var ref = ele.popperRef();

                var dummyDomEle = document.createElement('div');

                let tip = tippy(dummyDomEle, {
                    getReferenceClientRect: ref.getBoundingClientRect,
                    trigger: 'manual',
                    content: function () {
                        var div = document.createElement('div');

                        div.innerHTML = text;
                        div.style.fontFamily = "'Nunito', sans-serif";

                        return div;
                    },
                    arrow: true,
                    placement: 'bottom',
                    sticky: "reference",
                    interactive: true,
                    appendTo: document.body
                });

                return tip;
            };

            // HideAllTippies hides all tooltips from the screen
            var HideAllTippies = function () {
                cy.elements().forEach(function (ele) {
                    var tippy = ele.data('tippy');

                    if (tippy != null) {
                        tippy.hide();
                    }
                });
            };

            // CreateTippyText fetches attributes about a node and returns a string
            // formatted for a tooltip from agent specs
            var CreateTippyText = function (node) {
                let node_id = node.data('id')
                var text = "<b>" + node_id + "</b>";

                for (let bunch of specs) {
                    if (bunch.hasOwnProperty(node_id)) {
                        let agent_spec = bunch[node_id];
                        text += `<br /><b>runner: </b>${agent_spec["runner"]}`;
                        if ("attributes" in agent_spec) {
                            text += `<br /><b>attributes: </b>`;
                            for (let attr in agent_spec["attributes"]) {
                                text += `<br/>\ -\ ${attr}: ${agent_spec["attributes"][attr]}`;
                            }
                        }
                        break;
                    }
                }

                return text;
            };

            // Handle tooltips for nodes and edges on "mouseover" and "mouseclick" events
            cy.elements().forEach(function (ele) {
                ele.on('mouseover', function (evt) {
                    ResetNodeEdgeColors();
                    HideAllTippies();

                    let target = evt.target;

                    if (ele.isNode()) {
                        target.style({ 'background-color': '#E9DDFF' });
                        var text = CreateTippyText(ele);
                    } else if (ele.isEdge()) {
                        target.style({ 'line-color': '#9369E0', 'target-arrow-color': '#9369E0' });
                        var text = ele.id();
                    }

                    let curr_tippy = MakeTippy(ele, text);
                    ele.data('tippy', curr_tippy);
                    curr_tippy.show();
                });

                ele.on('mouseout', function (evt) {
                    ResetNodeEdgeColors();
                    HideAllTippies();
                });
            });

            // Handle node active style
            setInterval(function () {
                cy.nodes().forEach(function (node) {
                    if (agent_activities[node.data('id')]) {
                        node.style({ 'border-style': 'solid', 'border-width': "7px", 'border-opacity': "0.5", 'border-color': "#8748FF" });
                    } else {
                        node.style({ 'border-opacity': "0.0" });
                    }
                })
            }, 300);
        });
    </script>
</head>

<body>
    <header>
        <div>
            <!-- SimpleMind logo -->
            <table style="display:flex; justify-content: center;">
                <tr>
                    <td>
                        <div class="crop">
                            <img
                                src="https://cvib.ucla.edu/miccai22-simplemind_ai/images/SIMPLEMIND_logo_multi_gradient_thumbnail_larger_margins.png">
                        </div>
                    </td>
                    <td>
                        <div class="simplemindtext">SimpleMind</div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="height:10px"></div>

        <div class="bar">
            <!-- Bar for SimpleMind AI resources, including Gitlab, -->
            <!-- documentation, and PLoS One paper. -->
            <div>

                <a href="https://hoffman-lab.gitlab.io/simplemind/sm.html" class="contactbutton">Documentation</a>

                <a href="https://gitlab.com/hoffman-lab" class="contactbutton">Gitlab</a>

                <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0283587"
                    class="contactbutton">PLoS One Paper</a>

            </div>
        </div>
    </header>

    <main>

        <div>
            <!-- Information about the current SM run, which includes -->
            <!--  runners, runtime, and config path-->
            <h2>Current Run</h2>

            <div style="display: flex; justify-content: center;">
                <div>
                    <div class="currentrunfield">
                        <span class="currentrunlabeltext">Runners: </span>
                        <span class="currentruntext" id="runnersfield"></span>
                    </div>
                    <div class="currentrunfield">
                        <span class="currentrunlabeltext">Runtime: </span>
                        <span class="currentruntext" id="runtimefield"></span>
                    </div>
                </div>
            </div>

            <script>
                // Get Runners
                var runner_set = new Set();

                var specs = JSON.parse('{{.specs}}');

                for (let bunch of specs) {
                    for (let agent_name in bunch) {
                        let spec = bunch[agent_name];
                        if (!runner_set.has(spec["runner"])) {
                            runner_set.add(spec["runner"]);
                        }
                    }
                }

                document.getElementById("runnersfield").innerHTML = [...runner_set].join(', ');

                // Handle runtime timer
                var start_time = new Date("{{.time_sent}}").getTime();

                setInterval(function () {
                    let now = new Date().getTime();
                    let since = now - start_time;

                    let hours = Math.floor((since % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    let mins = Math.floor((since % (1000 * 60 * 60)) / (1000 * 60));
                    let secs = Math.floor((since % (1000 * 60)) / 1000);

                    document.getElementById("runtimefield").innerHTML = `${hours} hr ${mins} min ${secs} sec`;
                }, 500);
            </script>

            <div style="height:15px"></div>
            <hr style="opacity: 0.3;">
            <div style="height:5px"></div>
        </div>

        <div>
            <!-- Interactive knowledge graph module -->
            <!-- Powered by Cytoscape.js -->
            <h2>Knowledge Graph</h2>

            <div id="cy"></div>

            <div style="height:80vh"></div>

            <!-- Create buttons with appropriate tooltips for resetting graph layout -->
            <div style="display: flex; justify-content: center; margin-top:10px;">
                <a data-toggle="tooltip" data-placement="auto" style="margin-right: 10px;"
                    title="Resets the positions of nodes in the knowledge graph based on breadth-first search"><button
                        id="bfsbutton" class="tooltip_button" type="button">BFS-Based Layout</button></a>
                <a data-toggle="tooltip" data-placement="auto" style="margin-left: 10px;"
                    title="Resets the positions of nodes in the knowledge graph based on force-directed algorithm"><button
                        id="forcebutton" class="tooltip_button" type="button">Force-Based Layout</button></a>
            </div>

            <div style="height:15px"></div>
            <hr style="opacity: 0.3;">
            <div style="height:5px"></div>

        </div>

        <div>
            <!-- Blackboard event log stream -->
            <h2>Blackboard Log</h2>

            <div class="blackboardlog">
                <span id="bblog"></span>
            </div>

            <script>
                // Update the node style based on whether the corresponding Agent
                // is currently active (i.e., it has said Hello but not Goodbye)
                var last_activity_idx = 0; // This is slightly redundant. See below
                var last_logged_idx = 0;

                function SetAgentActivity(messages) {
                    for (let m of messages) {
                        let agent_name = m["source"];
                        if (agent_name in agent_activities && m["id"] > last_activity_idx) {
                            if ("hello" in m) {
                                agent_activities[agent_name] = true;
                            } else if ("goodbye" in m) {
                                agent_activities[agent_name] = false;
                            }
                            last_activity_idx = m["id"];
                        }
                    }
                }

                function UpdateBlackboardLog(messages) {
                    let last_msg = messages[messages.length - 1];
                    let new_last_idx = last_msg["id"];

                    if (new_last_idx > last_logged_idx) {
                        last_logged_idx = new_last_idx;
                        document.getElementById("bblog").innerHTML += JSON.stringify(messages);
                    }
                }

                // Get the web address from the specs
                let addr = "http://";

                mainloop:
                for (let bunch of specs) {
                    for (let agent_name in bunch) {
                        let agent_spec = bunch[agent_name];
                        if (agent_spec['entrypoint'] == "StartWebInterface") {
                            addr += agent_spec['attributes'].hasOwnProperty('addr') ? agent_spec['attributes']['addr'] : "localhost:9080";
                            break mainloop;
                        }
                    }
                }

                // TODO: We are repeating code here. We could probably shorten this
                // by doing the fetch once and handling messages accordingly... Will
                // probably be addressed by a future MR.

                // Handle active agent styling in knowledge graph
                const HandleActiveAgentFetch = function () {
                    fetch(addr + "/graph").then((response) => {
                        return response.json();
                    }).then((messages) => {
                        // Call SetAgentActivity to set the agent activities for visualization
                        SetAgentActivity(messages["messages"]);
                    }).catch((err) => {
                        console.log('Fetch messages error:', err);
                    });
                }

                setInterval(HandleActiveAgentFetch, 200);

                // Get Blackboard messages
                // As of right now, the blackboard log GUI is only showing Create messages.
                // It's probably not a great idea to list all messages for heavy SM runs,
                // but we can revisit this feature if you require stronger logging.

                const HandleBlackboardFetch = function () {
                    fetch(addr + "/bb/" + last_logged_idx).then((response) => {
                        return response.json();
                    }).then((messages) => {
                        // Update the bblog div
                        UpdateBlackboardLog(messages["messages"]);
                    }).catch((err) => {
                        console.log('Fetch blackboard error:', err);
                    });
                }

                setInterval(HandleBlackboardFetch, 1000);
            </script>

            <div style="height:80vh"></div>

        </div>

    </main>

    <footer>

        <script>
            // Set the text style for paragraph and heading elements
            var elems = document.getElementsByTagName("h2"); for (let el of elems) {
                el.style.fontFamily = "'Heebo', sans-serif";
                el.style.fontWeight = "bold";
                el.style.textAlign = "center";
                el.style.marginBottom = "10px";
            }
            elems = document.getElementsByTagName("p"); for (let el of elems) {
                el.style.fontFamily = "'Heebo', sans-serif";
            }
        </script>

        <div class="bar" style="display:flex; justify-content: center;">
            <a href="/" class="contactbutton">Return to top</a>
        </div>

    </footer>
</body>

</html>