<!DOCTYPE html>

<html>

	<head>
		<title>SimpleMind</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		
		<link rel="stylesheet" href="/static/style.css">
		<script src="/static/cytoscape.min.js"></script>
		<script src="/static/cola.min.js"></script>
		<script src="/static/popper.min.js"></script>
		<script src="/static/tippy-bundle.umd.min.js"></script>
		<script src="/static/cytoscape-cola.js"></script>
		<script src="/static/cytoscape-popper.js"></script>
	</head>

	<body>
		<header>
			<div>
				<!-- SimpleMind logo -->
				<table style="display:flex; justify-content: center;">
					<tr>
						<td>
							<div>
								<img class="logo"
                                  src="static/logo-small.png">
							</div>
						</td>
						<td>
							<div class="simplemindtext">SimpleMind</div>
						</td>
					</tr>
				</table>
			</div>

			<div style="height:10px"></div>
			
		</header>

		<main>

			<div>
				<!-- Information about the current SM run, which includes -->
				<!--  runners, runtime, and config path-->
				<h2>Current Run</h2>

				<div style="display: flex; justify-content: center;">
					<div>
						<div class="currentrunfield">
							<span class="currentrunlabeltext">Runners: </span>
							<span class="currentruntext" id="runnersfield"></span>
						</div>
						<div class="currentrunfield">
							<span class="currentrunlabeltext">Runtime: </span>
							<span class="currentruntext" id="runtimefield"></span>
						</div>
					</div>
				</div>

				<script>
				 // Runtime statistics were here
				</script>

				<div style="height:15px"></div>
				<hr style="opacity: 0.3;">
				<div style="height:5px"></div>
			</div>

			<div>
				<!-- Interactive knowledge graph module -->
				<!-- Powered by Cytoscape.js -->
				<h2>Knowledge Graph</h2>

				<div id="cy"></div>

				<div style="height:80vh"></div>

				<!-- Create buttons with appropriate tooltips for resetting graph layout -->
				<div style="display: flex; justify-content: center; margin-top:10px;">
					<a data-toggle="tooltip" data-placement="auto" style="margin-right: 10px;"
                       title="Resets the positions of nodes in the knowledge graph based on breadth-first search"><button
																													  id="bfsbutton" class="tooltip_button" type="button">BFS-Based Layout</button></a>
					<a data-toggle="tooltip" data-placement="auto" style="margin-left: 10px;"
                       title="Resets the positions of nodes in the knowledge graph based on force-directed algorithm"><button
																														  id="forcebutton" class="tooltip_button" type="button">Force-Based Layout</button></a>
				</div>

				<div style="height:15px"></div>
				<hr style="opacity: 0.3;">
				<div style="height:5px"></div>

		</main>

		<footer>

			<script>
			 
			 // Set the text style for paragraph and heading elements
			 var elems = document.getElementsByTagName("h2"); for (let el of elems) {
			   el.style.fontFamily = "'Heebo', sans-serif";
			   el.style.fontWeight = "bold";
			   el.style.textAlign = "center";
			   el.style.marginBottom = "10px";
			 }
			 elems = document.getElementsByTagName("p"); for (let el of elems) {
			   el.style.fontFamily = "'Heebo', sans-serif";
			 }

			 // Handle the interactive knowledge graph (see body)
			 // var graph = JSON.parse("{{.graph}}");
			 // var specs = JSON.parse("{{.specs}}");
			 // var agent_activities = Object.create(null);
			 var cy;
			 var layout;
			 var layout_mode; // cola or breadth first search
			 var node_tracker = {};
			 var last_message = 0;

			 cy = cytoscape({
			   container: document.getElementById('cy'),

			   autounselectify: true,
			   boxSelectionEnabled: false,

			   style: [{
				 selector: 'node',
				 style: {
				   'background-color': '#dfceff',
				   'text-valign': 'center',
				   'label': 'data(id)',
				   'color': '#5926b7',
				   'text-outline-color': '#5926b7',
				   'text-outline-width': '0.05px',
				   'font-size': '11px',
				   "overlay-padding": "6px",
				   'width': '100'
				 }
			   },

					   {
						 selector: 'edge',
						 style: {
						   'width': 3,
						   'target-arrow-shape': 'triangle',
						   'line-color': '#6f44bd',
						   'target-arrow-color': '#6f44bd',
						   'curve-style': 'bezier'
						 }
					   }
			   ],

			 });

			 //// Add the agents to the nodes of graph with appropriate edges
			 //for (let agent in graph) {
			 //    cy.add({ group: 'nodes', data: { id: agent } });
			 //    agent_activities[agent] = false;
			 //}

			 //for (let agent in graph) {
			 //    for (let dependency of graph[agent]) {
			 //        cy.add({ data: { id: `${dependency} » ${agent}`, source: dependency, target: agent } });
			 //    }
			 //}

			 // Trigger the animation of the layout
			 layout = cy.layout({
			   animate: true,
			   name: 'cola',
			   ungrabifyWhileSimulating: true,
			   maxSimulationTime: 7000,
			   flow: { axis: 'y', minSeparation: 40 },
			   padding: 5,
			   nodeSpacing: 20,
			 });
			 layout.run();
			 layout_mode = 'cola';
			 
			 var ResetNodeEdgeColors = function () {
			   console.log("ResetNodeEdgeColors")
			   cy.nodes().forEach(function (node) {
				 node.style({ 'background-color': '#dfceff', 'color': '#5926b7' });
			   });
			   cy.edges().forEach(function (edge) {
				 edge.style({ 'line-color': '#6f44bd', 'target-arrow-color': '#6f44bd' });
			   });
			 };
			 
			 // Add a force-directed layout button
			 document.getElementById("forcebutton").addEventListener("click", function () {
			   //ResetNodeEdgeColors();
			 
			   layout = cy.layout({
			 	 animate: true,
			 	 name: 'cola',
			 	 ungrabifyWhileSimulating: true,
			 	 maxSimulationTime: 7000,
			 	 flow: { axis: 'y', minSeparation: 40 },
			 	 padding: 5,
			 	 nodeSpacing: 20,
			   });
			   layout.run();
			   layout_mode = 'cola';
			 });

			 // Add a reset breadth-first search layout button
			 document.getElementById("bfsbutton").addEventListener("click", function () {
			   //ResetNodeEdgeColors();
			 
			   layout = cy.layout({
			 	 name: 'breadthfirst',
			 	 animate: true,
			 	 padding: 5,
			 	 animationEasing: 'ease-in-out',
			   });
			   layout.run();
			   layout_mode = 'breadthfirst';
			 });
			 
			 // Convenience function for setting node appearances based on agent state
			 // Creates/adds a node if it does not already exist for the agent
			 const SetNode = function (node_name, state) {
			   if (!(node_name in node_tracker)) {
				 cy.add({group:'nodes', data: {id: node_name}});
				 node_tracker[node_name] = state
			   }
			   
			   //curr_node = node_tracker[node_name];
			   //curr_node = cy.nodes(`[id="${node_name}"]`);
			   //console.log(curr_node)

			   // Set properties based off of state
			   curr_state = state["state"]
			   curr_message = state["message"]
			   
			   curr_node = cy.getElementById(node_name)

			   console.log("curr_state:", curr_state)
			   
			   switch (curr_state) {
				 case 'Unknown':
				   console.log("uk")
				   curr_node.style({ 'background-color': '#DDDDDD', 'color': '#002200', 'border-opacity': "0"  });
				   break;
				 case 'OK':
				   console.log("ok")
				   curr_node.style({ 'background-color': '#29C329', 'color': '#FFFFFF', 'border-opacity': "0"  });
				   break;
				 case 'Requested':
				   console.log("req")
				   curr_node.style({ 'background-color': '#111111', 'color': '#000000', 'border-opacity': "0"  });
				   break;
				 case 'AwaitingPromise':
				   console.log("wait")
				   curr_node.style({ 'background-color': '#29C329', 'color': '#FFFFFF', 'border-opacity': "0" });
				   break;
				 case 'Working':
				   console.log("work")
				   curr_node.style({ 
					'background-color': '#97F2A7', 
					'color': '#000000', 
					'border-style': 'solid', 
					'border-width': "7px", 
					'border-opacity': "0.5", 
					'border-color': "#8748FF"
				   }); 
				   break;
				 case 'Missing':
					console.log("missing");
					curr_node.style({ 'background-color': '#FF8A00', 'color': '#FFFFFF', 'border-opacity': "0"  });
					break;
				 case 'Error':
					console.log("err"); 
					curr_node.style({ 'background-color': '#E25C5C', 'color': '#FFFFFF', 'border-opacity': "0"  });
					break;
				 case 'Completed':
				   curr_node.style({ 'background-color': '#DDDDDD', 'color': '#111111', 'border-opacity': "0"  });
				   break;
			   }
			 }
			 
			 // Convenience function for polling
			 const GetMessages = async function() {
			   await fetch(`/blackboard/${last_message + 1}`).then((response) => {
				 return response.json();
			   }).then((messages) => {

				 // Main messages handler (TODO: this should be moved to non-blocking implementation)
				 for (const key in messages["messages"]) {
				   
				   let curr_msg = messages["messages"][key]

				   if ("hello" in curr_msg) {
					 SetNode(curr_msg["source"], {"state":"OK", "message":"said hello"});
				   }
				   else if ("goodbye" in curr_msg) {
					 SetNode(curr_msg["source"], {"state":"Completed", "message":"said goodbye"});
				   }
				   else if ("createAgent" in curr_msg) {
					 SetNode(curr_msg["createAgent"]["name"], {"state":"Requested", "message":""});
				   }
				   else if ("statusUpdate" in curr_msg) {
					switch (curr_msg["statusUpdate"]["state"]) {
						case "AwaitingPromise":
							SetNode(curr_msg["source"], {"state":"AwaitingPromise", "message":"awaiting promise"});
							break;
						case "Working":
							SetNode(curr_msg["source"], {"state":"Working", "message":"working"});
							break;
					}
				   }
				   else if ("log" in curr_msg) {
					 switch (curr_msg["log"]["severity"]) {
						case "Error":
							SetNode(curr_msg["source"], {"state": "Error", "message":"agent error"});
							break;
					 }
					}
				   else if ("result" in curr_msg) {
					 // TODO
					 //console.log("result from: ", curr_msg["source"], curr_msg["result"]["promise"]["name"])
				   }
				   else {
					 console.log("message from: ", curr_msg["source"], curr_msg)
				   }

				   last_message = curr_msg["index"]
				   console.log("working on: ", last_message)
				 }
				 
			   }).catch((err) => {
				 console.log("unable to fetch messages:", err)
			   });

			   layout = cy.layout({
			 	 animate: true,
			 	 name: layout_mode,
			 	 ungrabifyWhileSimulating: true,
			 	 maxSimulationTime: 7000,
			 	 flow: { axis: 'y', minSeparation: 40 },
			 	   padding: 5,
			 	   nodeSpacing: 20,
			   });
			 layout.run();
			 }

			 setInterval(GetMessages, 1000)
			 
			</script>

			<div class="bar" style="display:flex; justify-content: center;">
				<a href="/" class="contactbutton">Return to top</a>
			</div>

		</footer>
	</body>

</html>